@import url("https://use.typekit.net/byl1mxp.css");



body {
    color: white;
    background-color: #000f0f;
    font-family: "input-serif", serif;
    font-weight: 100;
    font-style: normal;
}

.top {
    font-size: 200%;
}

.topbar {
    top: 0;
    left: 0;
    background-color: #224;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    border-bottom-style: ridge;
    border-color: #55a;
}

.topbar a {
    float: left;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    border-right-style: dotted;
    border-color: #55a;

}

.topbar a:hover {
    background-color: #336;
}

.topbar .final {
    border-right-style: none;
}

.topbar .active {
    font-weight: 800;
}




.title {
    line-height: 0;

    p {
        padding-left: 5%;
        padding-top: 5%;
    }

    h1 {
        color: #ffcd61;
        padding-left: 2%;
        -webkit-text-stroke: 3px #f8de96;
        line-height: 10%;
        font-weight: 1000;
    }

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */


}

.top-flavor {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */

    color: #054902;
    font-size: 35;
    display: inline-block;

    p {
        -webkit-text-stroke: 1px #b8faa4;
    }

}

.blinking-cursor {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */

    transform: translate(-22px, 4px);
    display: inline-block;
    height: 35px;
    width: 4px;
    background-color: #ffffffff;
}