@import url("https://use.typekit.net/byl1mxp.css");



body {
    margin: 0;
    color: white;
    background-color: #001;
    font-family: "input-serif", serif;
    font-weight: 100;
    font-style: normal;
}

.top {
    font-size: 200%;
}

.desc {
    background-image:
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><g fill="%23000"><path d="M1000 100C500 100 500 64 0 64V0h1000v100Z" opacity=".5"></path><path d="M1000 100C500 100 500 34 0 34V0h1000v100Z" opacity=".5"></path><path d="M1000 100C500 100 500 4 0 4V0h1000v100Z"></path></g></svg>'),

        linear-gradient(0deg, #336, #06060a);
    background-color: #336;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto, auto;
    padding-top: 10%;
    position: relative;

    font-size: 150%;
    color: #fff;

    -webkit-text-stroke: 1px #ddd;

    .links {
        display: flex;
        justify-content: center;
    }

    a {
        font-size: 200%;
        padding: 0.5%;
        transition: 0.1s
    }

    a:hover {
        transform-origin: center;
        transform: rotate(2deg) scale(1.1, 1.1);
    }

    a:link {
        color: #fff;
    }

    a:active {
        color: #fff;
    }

    a:visited {
        color: #fff;
        text-decoration: none;
    }

    p {
        text-align: justify;
    }

    span {
        font-weight: 800;
    }

}

.topbar {
    top: 0;
    left: 0;
    background-color: #224;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    border-bottom-style: ridge;
    border-color: #55a;
}

.topbar a {
    float: left;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    border-right-style: dotted;
    border-color: #55a;

}

.topbar a:hover {
    background-color: #336;
}

.topbar .final {
    border-right-style: none;
}

.topbar .active {
    font-weight: 800;
}




.title {
    line-height: 0;

    p {
        padding-left: 5%;
        padding-top: 5%;
    }

    h1 {
        color: #ffcd61;
        padding-left: 2%;
        -webkit-text-stroke: 3px #f8de96;
        line-height: 10%;
        font-weight: 1000;
    }

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */


}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}