@import url("https://use.typekit.net/byl1mxp.css");

body {
    color: white;
    background-color: #000f0f;
    font-family: "input-serif", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 250%;
    padding-left: 2%;
}

.title {
    line-height: 0;

    p {
        padding-left: 5%;
        padding-top: 1.5%;
    }

    h1 {
        color: #ffcd61;
        padding-left: 2%;
        -webkit-text-stroke: 3px #f8de96;
        line-height: 10%;
        font-weight: 1000;
    }

}

.top-flavor {
    color: #054902;
    font-size: 75%;
    display: inline-block;

    p {
        -webkit-text-stroke: 1px #b8faa4;
    }

}